@model IEnumerable<App_Data.Models.GioHangCT>

@{
	ViewData["Title"] = "Index";
	decimal total = 0;
	Layout = "_LayoutUser";
}

<div class="container">
	<div class="my-3 d-flex justify-content-center">
		<h1 class="fw-light">Cart</h1>
	</div>
	<div class="border rounded-3 p-3 shadow-sm">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>
						@Html.DisplayNameFor(model => model.SanPham.Image)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.SanPham.Name)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.SanPham.Price)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Quantity)
					</th>
					<th>Total</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							<img src="~/img/@item.SanPham.Image" alt="@item.SanPham.Image" style="width:180px"
								class="img-thumbnail">
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.SanPham.Name)
						</td>
						<td style="width: 180px;">
							@Html.DisplayFor(modelItem => item.SanPham.Price) đ
						</td>
						<td style="width: 180px;">

							@using (Html.BeginForm("Edit", "GioHangCT", FormMethod.Post))
							{
								<div class="d-flex">

									@Html.Hidden("cartDetailId", item.CartDetailId)
									<!-- Thay yourIdValue bằng giá trị id thực tế -->
									<div class="form-group">
										<input type="text" value="@item.Quantity" name="newQuantity" id="newQuantity"
											class="form-control" />
									</div>
									<div class="form-group">
										<input type="submit" value="Ok" class="btn btn-default border" />
									</div>

								</div>
							}
						</td>
						<td>
							@{
								total = item.Quantity * item.SanPham.Price;
							}
							<p id="total_@item.SanPham.ProductId">@total đ</p>
						</td>
						<td>
							@using (Html.BeginForm("Delete", "GioHangCT", FormMethod.Post))
							{
								@Html.Hidden("id", item.CartDetailId) <!-- Thay yourIdValue bằng giá trị id thực tế -->
								<div class="form-group">
									<input type="submit" value="Delete"
										class="btn btn-danger text-light fw-bold rounded-pill" />
								</div>
							}
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
<style>
	.col-wid {
		max-width: 250px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
</style>
