@model IEnumerable<App_Data.Models.LoaiSP>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeName)
            </td>
            <td>
                <button class="btn btn-info">
                    <a asp-action="Edit" asp-route-id="@item.TypeId" class="btn-link">Edit</a>
                </button> |
                <a asp-action="Details" asp-route-id="@item.TypeId" class="btn btn-primary">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TypeId" class="btn btn-danger">Delete</a>

            </td>
        </tr>
}
    </tbody>
</table>
